*{
	margin: 0px;
	padding: 0px;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
html{
	background-color: #1b335b;
	background-image: url(../img/background/2.JPG);
	background-size: 200%;
	background-repeat: no-repeat;
}

#title{
	padding: 5px;
	text-align: center;
	font-size: 1.5em;
	font-family: "微软雅黑";
	font-weight:bold;
	color: #FFFFFF;
	background-color: #2585f6;
	border-radius: 0px 0px 50px 50px;
	animation: backgroundC 20s infinite;
	-moz-animation: backgroundC 20s infinite;
	-webkit-animation: backgroundC 20s infinite;
	-ms-animation: backgroundC 20s infinite;	
}

#str{
	padding: 5px;
	text-align: center;
	font-size: 0.8em;
	font-family: "微软雅黑";
}
.container{
	margin: 0px auto;
	width: 280px;
	height: 480px;
	box-shadow: 5px 5px 15px #000000;
}

/*------------------ 显示 ------------------*/
/*--- 数码管数字字体声明 ---*/
@font-face {
	font-family:DIGIT;
	src: url('../font/DS-DIGIT.TTF');
}

.output{
	margin: 0px auto;
	padding: 10px 0px 10px 0px;
	width: 252px;
	height: 65px;
	border: 2px solid #000;
}
/*--- 表达式显示 ---*/
.expression{
	height: 23px;
	width: 242px;
	overflow: auto;
	padding: 0px 5px;
	border: none;
	background: #f7f5c2;
	font-family: 'DIGIT';
	font-size: 1.5em;
	text-align: right;
	outline: none; /*去除获取了焦点后的边框*/
}
input::-ms-clear{  /*IE去掉input获得焦点是自带的清楚功能*/
	display:none;
}
/*--- 结果显示 ---*/
.result{9
	height: 18px;
	width: 242px;
	padding: 0px 5px;
	overflow: auto;
	border: none;
	background: #f7f5c2;
	font-family: 'DIGIT';
	font-size: 2em;
	text-align: right;
	outline: none; /*去除获取了焦点后的边框*/
}

/*------------------ 按钮 ------------------*/
.number_but,.delete_but,.delete_OneBOne_but,.equal_but,.operator_but {
	margin: 2px;
	font-family: "微软雅黑";
	/*font-weight:bold;*/
	display: block;
}
/*--- 运算按钮 ---*/
.operator_but{
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 1em;	
}
.operator_but:active{
	background-color: #505050;
}
/*--- 数字按钮 ---*/
.number_but{
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 1em;
}
.number_but:active{
	background-color: #dedbdb;
}
/*--- 等于按钮 ---*/
.equal_but{
	width: 60px;
	height:	124px;
	float: left;
	text-align: center;
	line-height: 120px;
	color: #fff;
	font-size: 2em;
}
.equal_but:active{
	background-color: #0553b3;
}
/*--- 删除按钮 ---*/
.delete_but{
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 1em;
	background-image: url(../img/delete_OneBOne/delete_OneBOne_1.jpg);
	background-size: 100%;
}
.delete_but:active{
	background-image: url(../img/delete_OneBOne/delete_OneBOne_2.jpg);
	background-size: 100%;
}
/*--- 删除按钮2 ---*/
.delete_OneBOne_but{
	width: 60px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 1em;
	background-image: url(../img/delete_but/delete_but_1.jpg);
	background-size: 100%;
}
.delete_OneBOne_but:active{
	background-image: url(../img/delete_but/delete_but_2.jpg);
	background-size: 100%;
}

/*------ 圆角 ------*/
.circular{
	border-radius: 8px;
}

/*------ 颜色渐变 ------*/
@keyframes backgroundC{
	0%{background-color: #26a19f;}
	40%{background-color: #2585F6;}
	70%{background: #EE3D47;}
	100%{background: #26a19f;}
}
@-moz-keyframes backgroundC{
	0%{background-color: #26a19f;}
	40%{background-color: #2585F6;}
	70%{background: #EE3D47;}
	100%{background: #26a19f;}
}
@-webkit-keyframes backgroundC{
	0%{background-color: #26a19f;}
	40%{background-color: #2585F6;}
	70%{background: #EE3D47;}
	100%{background: #26a19f;}
}
@-ms-keyframes backgroundC{
	%{background-color: #26a19f;}
	40%{background-color: #2585F6;}
	70%{background: #EE3D47;}
	100%{background: #26a19f;}
}
 

/*------ 颜色 ------*/
.blue{
	background-color: #2585f6;
}
.red{
	background-color: #ee3d47;
}
.gray{
	background-color: #717173;
}
.cumulus{
	background-color: #f7f5c2;
}
.albescent_white{
	background-color: #e2dacb;
}
.white{
	background-color: #FFFFFF;
}